<% include ../partials/header %>

    <div class="row">
        <h1 style="text-align: center">Edit <%= venue.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/venues/<%=venue._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name" value="<%= venue.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description" value="<%= venue.description %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="price" placeholder="Cost Per Day ($CAD)" value="<%= venue.price %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="location" placeholder="Location" value="<%= venue.location %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="capacity" placeholder="Capacity" value="<%= venue.capacity %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="category" placeholder="Category" value="<%= venue.category %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="cateringAvailable" placeholder="Catering (Yes/No)" value="<%= venue.cateringAvailable %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="decorationAvailable" placeholder="Decoration (Yes/No)" value="<%= venue.decorationAvailable %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="contactno" placeholder="Contact No(s)" value="<%= venue.contactno %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image URL" value="<%= venue.image %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update</button>
                </div>
            </form>
            <a href="/venues">Go Back</a>
        </div>
    </div>

<% include ../partials/footer %>